{% extends 'base.html' %}
{% block title %}Dashboard — {{ config.PANEL_TITLE }}{% endblock %}
{% block nav_dashboard %}active{% endblock %}

{% block body %}
<div class="stats" id="stats">
  <span>Loading...</span>
</div>

<div id="sections" class="sections">
  <div class="loading"><div class="spin"></div>Pobieranie statusu serwerów...</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/panel.js') }}"></script>
<script>
const SERVERS = {{ servers | tojson }};
const IS_ADMIN = {{ (user.role == 'admin') | tojson }};
startDashboard(SERVERS, IS_ADMIN);
</script>
{% endblock %}
