{% extends 'base.html' %}
{% block title %}Login — {{ config.PANEL_TITLE }}{% endblock %}
{% block navbar %}{% endblock %}
{% block bar %}{% endblock %}

{% block body %}
<div class="login-wrap">
  <div class="login-box">
    <div class="login-head">
      <div class="login-title">QL<em>panel</em></div>
      <div class="login-sub">// server management //</div>
    </div>

    {% if error %}
    <div class="alert alert-error">{{ error }}</div>
    {% endif %}

    <form method="POST" autocomplete="off">
      <div class="form-group">
        <label class="form-label" for="username">Login</label>
        <input class="form-control" type="text" id="username" name="username"
               placeholder="username" autofocus maxlength="64">
      </div>
      <div class="form-group">
        <label class="form-label" for="password">Hasło</label>
        <input class="form-control" type="password" id="password" name="password"
               placeholder="••••••••" maxlength="128">
      </div>
      <button type="submit" class="btn btn-primary btn-block">zaloguj</button>
    </form>
  </div>
</div>
{% endblock %}
{% block scripts %}{% endblock %}
